.wrapper{
	width: 250px;
	background-color: gray;
}

#textbox{
	margin-top: 10px;
	width: 210px;
	height: 40px;
	font-size: x-large;
}

#side{
	font-size: large;
}

.top{
	width: 50px;
	height: 50px;
	color: black;
	font-weight: bold;
	font-size: medium;
	border: 3px solid gray;
	border-radius: 8px;
}

.top:hover{
	background-color: black;
	color: white;
}

.bottom{
	width: 105px;
	height: 50px;
	color: black;
	font-weight: bold;
	font-size: medium;
	margin-bottom: 10px;
	border: 3px solid gray;
	border-radius: 8px;
}

.bottom:hover{
	background-color: black;
	color: white;
}
